body{
    margin: 0;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    font-size: 35px;
    font-weight: 500;
}
.text_color{
    font-weight: 700;
    font-size: 55px;
    color: rgb(224, 45, 13);
}
p{
    color: #606060;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 35px;
}
section{
    height: 400px;
    margin-bottom: 25px;
}
.top_section{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: top;
}
.half_area{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half_area img{
    width: 100%;
    margin-top: 25px;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 60% 72%, 36% 100%, 0 65%);
    border-radius: 25px;
}
.link_btn{
    background: rgb(221, 35, 35);
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
}
.biography_section{
    background-image: url(images/personal\ website.png);
    background-repeat: no-repeat;
    background-position: right;
}
.latest_work{
    text-align: center;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}
.work{
    width: 29%;
    float: left;
    margin-left: 3%;
}
.work img{
    width: 100%;
}
.latest_work h2{
    padding-top: 25px;
    font-size: 40px;
    font-weight: 500;
}

.client_section{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 50px;
}
.client_section h2{
    font-size: 40px;
    font-weight: 500;
}
h4{
    color: rgb(221, 35, 35);
}
.message{
    height: 200px;
    width: 40%;
    margin: auto;
    background: rgb(221, 35, 35);
}
.message p{
    padding-top: 25px;
    color: #fff;
}
.message h2{
    padding-bottom: 25px;
    color: #fff;
    font-weight: bold;
}
footer{
    padding-top: 25px;
}
footer p{
    font-size: 16px;
}